<div id="<%= dom_id venue %>" class="container">
  <div class="flex-row">
  <p class="my-5">
    <strong class=" font-medium mb-1">Name:</strong>
    <div class="font-large mb-1"> <%= venue.name %> </div>
  </p>


  <p class="my-5">
    <strong class=" font-medium mb-1">Contact:</strong>
    <%= venue.contact %>
  </p>

  <p class="my-5">
    <strong class=" font-medium mb-1">Email:</strong>
    <%= venue.email %>
  </p>

  <p class="my-5">
    <strong class=" font-medium mb-1">Phone:</strong>
    <%= venue.phone %>
  </p>

  </div>
</div>
